.Contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.blog_img{
    width: 280px;
    height: 200px;
}
.logo_blog{
    width: 30px;
    height: 30px;  
}

.Contenido_blog{
    justify-content: center;
    text-align: center;
    margin: 30px;
}

.Cuadro_blog{
    width: 280px;
    height: 740px;
    background-color: #ffffff;
    display: flex;
    margin: 5%;

}
