
.productos_generales {
  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    padding: 100px;
    
  }
  
  
  .Negrita_info {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 15px;
    text-align: center;
    color: black;
  }


.img_producto_intermedio {
    width: 150px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    border: white solid 5px;
    margin-bottom: 10px;
}

.img_producto_intermedio {
  width: 150px;
  height: 190px;
  margin: 10px auto; /* Centra la imagen horizontalmente */
  border-radius: 10px;
  border: white solid 5px;
  display: flex;
  
  
}

.texto_img_intermedio {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  margin: 2px auto; 
}

.btn-add-cart {
    margin-top: 20px;
    width: fit-content;
}