.productos_generales {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 100px auto;
    gap: 150px;
    
  }
  

  .banner_productos {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
    margin-bottom: 50px;
  }
  
  
  .texto_productos {
    gap: 40px;
    width: 450px;
    margin-top: 130px;
    padding: 40px;
    line-height: 1.6;
    text-align: justify;
    font-size: 1.1rem;
    background-color:  rgba(87, 100, 87, 0.827);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .Negrita_info {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 15px;
    text-align: center;
    color: black;
  }