* {
  margin: 0;
}

body {
  background-image: url('/public/fondoEcoSfera.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*-----------------------------------Parte superior del proyecto-----------------------------------*/

.contenedor {
  max-width: 100%;
}

.cabecera {
  width: 100%;
  height: 12vh;
  align-items: center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  background: linear-gradient(to top, rgba(72, 122, 231, 0.827), rgba(37, 99, 235, 0));
}

.logo {
  width: 40px;
  height: 100px;
}

.titulo {
  font-size: 3.5rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
  transition: color 0.3s;
  margin-left: 1.5%;
  height: 85px;
}

.titulo2{
  font-size: 1.8rem;
  color: #000000;
  margin: 0;
  transition: color 0.3s;
  margin-right: 35%;
}


/* From Uiverse.io by JaydipPrajapati1910 */
.group {
  display: flex;
  line-height: 24px; /* Reducido el line-height */
  align-items: center;
  position: relative;
  max-width: 150px; /* Reducido el ancho máximo */
}

.input {
  height: 30px; /* Reducida la altura del campo de entrada */
  padding: 0; /* Reducido el padding */
  width: 100%;
  padding-left: 2rem; /* Ajustado el espacio para el icono */
  outline: none;
  color: #000000;
  transition: .3s ease;
  border: 2px solid  #2563eb;
  border-radius: 6px; /* Bordes más redondeados */
  
}

.input::placeholder {
  color: #000000;
}


.icon {
  position: absolute;
  left: 0.5rem; /* Reducido el espacio del icono */
  fill: #000000;
  width: 0.9rem; /* Reducido el tamaño del icono */
  height: 0.9rem; /* Reducido el tamaño del icono */
}


/* Estilo para el select */
.categorias_opciones {
  font-size: 14px; /* Reducido tamaño de la fuente */
  padding: 0 1em; /* Reducido espaciado interno */
  border-radius: 6px; /* Bordes más redondeados */
  border: 2px solid #2563eb; /* Color del borde */
  background-color: #f0f4f8; /* Color de fondo */
  color: #333; /* Color de texto */
  cursor: pointer; /* Cambio de cursor */
  transition: all 0.3s ease; /* Transición suave */
  appearance: none; /* Quita el estilo predeterminado en algunos navegadores */
  -webkit-appearance: none; /* Para Safari */
  -moz-appearance: none; /* Para Firefox */
  width: auto; /* Ajustar automáticamente el ancho */
  max-width: 180px; /* Ancho máximo */
  height: 30px;
  margin-left: 10px; /* Añadido margen a la izquierda para moverlo hacia la derecha */
}

.flecha-abajo {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black; /* Cambia el color si es necesario */
}




/* Estilo para las opciones */
.categorias_opciones option {
  padding: 8px; /* Reducido espaciado de las opciones */
  background-color: #ffffff; /* Fondo de las opciones */
  color: #333; /* Color de texto */
  border-bottom: 1px solid #ccc; /* Línea debajo de las opciones */
}

/* Estilo cuando el select tiene el foco (cuando está seleccionado) */
.categorias_opciones:focus {
  border-color: #2563eb; /* Cambia el color del borde al hacer foco */
  outline: none; /* Elimina el borde por defecto */
}

/* Estilo al pasar el mouse por encima de las opciones */
.categorias_opciones option:hover {
  background-color: #2563eb; /* Fondo al pasar el mouse */
  color: #fff; /* Color del texto al pasar el mouse */
}

/* Opciones especiales */
.categorias_opciones option:first-child {
  font-weight: bold; /* Destacar la opción "Categorias" */
  color: #aaa; /* Color gris para la opción predeterminada */
}

/* Opciones seleccionadas */
.categorias_opciones:focus option {
  color: #333; /* Color de texto cuando se selecciona una opción */
}


/* From Uiverse.io by Allyhere */ 
.btn-donate {
  width: 110px;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.35rem; /* Reducido */
  padding-inline: 1rem; /* Reducido */
  background-color: #2563eb;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 8px; /* Reducido */
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 13px; /* Reducido */
  margin-left: 10px; /* Mueve el botón hacia la derecha */
}

.btn-donate:hover {
  transform: scale(1.05);
  border-color: #2563eb;
}

.btn-donate:hover .icon {
  transform: translate(4px);
}

.btn-donate:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn-donate::before {
  content: "";
  position: absolute;
  width: 80px; /* Reducido */
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -80px; /* Reducido */
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -80px; /* Reducido */
  }

  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}



/* From Uiverse.io by adeladel522 */ 
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.35rem; /* Reducido */
  padding-inline: 1rem; /* Reducido */
  background-color: #2563eb;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 8px; /* Reducido */
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 13px; /* Reducido */
  margin-left: 10px; /* Mueve el botón hacia la derecha */

}

.icon {
  width: 20px; /* Reducido */
  height: 20px; /* Reducido */
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #2563eb;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 80px; /* Reducido */
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -80px; /* Reducido */
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -80px; /* Reducido */
  }

  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}



/*-----------------------------------------------------Carrusel-----------------------------------------------------*/

.carousel-padre {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 2px;

}

.carousel {
  margin-top: 115px;
  height: 500px;
  width: 145%;
  max-width: 990px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgb(0, 0, 0.1);
}



.carousel-hijo {
  display: flex;
  animation: slide 12s infinite;
  align-items: center;
  left: 48px;
  height: 500px;

}



.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease;
  height: 500px;

}

.carousel-item img {
  height: 500px;
  display: block;
  width: 100%;
  background-size: cover;
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0);
  }
}

/*-----------------------------------Parte inferior del proyecto (Cuadros)-----------------------------------*/

.informacion_basica{
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 260px;
}